<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Calorie Tracker{% endblock %}</title>

    <!-- Link to custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Include external CSS libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Home</a>
        {% if current_user.is_authenticated %}
        <!-- pages for logged in users -->
            <a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a>
            <a class="nav-link" href="{{ url_for('main.high_protein') }}">High Protein Foods</a>
        {% else %}
        <!-- pages for guests -->
            <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
            <a class="nav-link" href="{{ url_for('main.register') }}">Register</a>
        {% endif %}
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Include external JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
